.slider {
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__slide {
        box-sizing: border-box;
        padding: 0 70px 0 70px;
        display: grid;
        grid-template-columns: 230px 1fr;
    }

    &__quote {
        margin: 4px 0 0;
        padding-left: 20px;
        display: grid;
        align-self: center;
    }

    &__paragraph {
        margin: 0;
        font: italic 300 24px/1.5 $roboto-font;
        color: #999999;
    }

    &__inner {
        margin-top: 15px;
        display: flex;
        gap: 10px;
    }

    &__underline {
        margin-top: 15px;
    }

    &__author {
        font: 24px/1.2 $kaushanScript-font;
        color: #333333;
    }

    &__photo {
        display: flex;
        align-self: center;
        justify-self: center;
        object-fit: contain;
    }

    // Swiper plugin classes

    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: #cccccc;
        font-size: 20px;
        font-weight: 900;
    }

    .swiper-button-prev {
        margin-left: 6px;
    }

    .swiper-button-next {
        margin-right: 6px;
    }
}
