.slider {
    display: grid;
    grid-template-columns: 1fr 17fr 1fr;

    &__button {
        margin: auto;
    }

    &__wrapper {
        overflow: hidden;
        
    }

    &__slides {
        display: flex;
        align-content: center;
    }

    &__slide {
        height: 290px;
        box-sizing: border-box;
    }
}