.awards {
  background-color: $bg-gray;

  &__inner {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    padding: 61px 0;
  }

  &__award {
    display: block;
    object-fit: none;
  }
}
