.overview {
    margin-top: 108px;
    display: grid;
    justify-items: center;

    &__tiles {
        margin-top: 18px;
        margin-bottom: 71px;
        display: grid;
        grid-template-rows: 169px 169px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__tile {
        display: grid;
        grid-template-areas:
            'icon head'
            'icon info';
        grid-template-rows: 73px 1fr;
        grid-template-columns: 90px 1fr;
        box-sizing: border-box;

        &:nth-child(-n + 3) {
            border-bottom: 1px solid #ededed;
        }
    }

    &__tile-icon {
        grid-area: icon;
        display: block;
        margin: 48px auto 0;
    }

    &__tile-heading {
        grid-area: head;
        margin: 0;
        margin-bottom: 11px;
        display: flex;
        align-items: flex-end;
        font: 600 14px/1.2 Montserrat, sans-serif;
        color: #333333;
        text-transform: uppercase;
    }

    &__tile-info {
        grid-area: info;
        margin: 0;
        margin-right: 20px;
        font: 15px/1.6 Roboto, sans-serif;
        color: #999999;
    }
}
