.background {
    &--main {
        background: #f38181 url('../img/background-mogo-banner.png') center
            no-repeat;
    }

    &--nature {
        background: #f8f8f8 url('../img/background-design.png') center no-repeat;
    }

    &--mountains {
        background: #f8f8f8 url('../img/background-clients.png') center no-repeat;
    }

    &--map {
        background: #f8f8f8 url('../img/background-map.png') center no-repeat;
    }

    &--turquoise {
        background-color: #95e1d3;
    }

    &--gray {
        background-color: #f8f8f8;
    }
}
