.background {
    position: relative;

    &__img {
        display: block;
        z-index: -9999;
        position: absolute
    }

    &--turquoise {
        background-color: #95e1d3;
    }

    &--gray {
        background-color: #f8f8f8;
    }
}
