.team {
    margin-bottom: 114px;
    display: grid;
    justify-items: center;

    &__heading {
        margin-top: 98px;
    }

    &__paragraph {
        margin: 41px 0 0;
        padding: 0 123px;
        font: 15px/1.6 Roboto, sans-serif;
        text-align: center;
        color: #999999;
    }

    &__cards {
        margin-top: 88px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: grid;
        justify-items: center;
    }

    &__card-photo {
        position: relative;

        &:hover {
            .team__card-img {
                transform: translate(-10px, -10px);
                box-shadow: 10px 10px 0 #95e1d3;
            }

            .team__card-gradient {
                transform: translate(-10px, -10px);
                background: linear-gradient(#f38181, #fce38a);
                opacity: 90%;
            }

            .team__card-links {
                display: flex;
            }
        }
    }

    &__card-img {
        display: block;
    }

    &__card-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__card-links {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -67%);
    }

    &__card-link {
        width: 56px;
        height: 56px;
        display: block;
        box-sizing: border-box;
        background-color: #fce38a;

        &:not(:last-child) {
            border-right: #f38181 1px solid;
        }

        &--facebook {
            background: #fce38a url("../img/team-facebook.png") center no-repeat;

            &:hover {
                background: #f38181 url("../img/team-facebook-hover.png") center
                    no-repeat;
            }
        }

        &--twitter {
            background: #fce38a url("../img/team-twitter.png") center no-repeat;

            &:hover {
                background: #f38181 url("../img/team-twitter-hover.png") center
                    no-repeat;
            }
        }

        &--pinterest {
            background: #fce38a url("../img/team-pinterest.png") center
                no-repeat;

            &:hover {
                background: #f38181 url("../img/team-pinterest-hover.png")
                    center no-repeat;
            }
        }

        &--github {
            background: #fce38a url("../img/team-github.png") center no-repeat;

            &:hover {
                background: #f38181 url("../img/team-github-hover.png") center
                    no-repeat;
            }
        }

        &--instagram {
            background: #fce38a url("../img/team-instagram.png") center
                no-repeat;

            &:hover {
                background: #f38181 url("../img/team-instagram-hover.png")
                    center no-repeat;
            }
        }
    }

    &__card-info {
        margin-top: 28px;
    }

    &__card-name {
        text-align: center;
        font: bold 14px/1.2 "Montserrat";
        color: rgb(51, 51, 51);
        text-transform: uppercase;
    }

    &__card-position {
        margin-top: 6px;
        text-align: center;
        font: italic 15px/1.6 "Roboto";
        color: rgb(153, 153, 153);
    }
}
