.footer {
  background-color: $bg-gray;

  &--blured {
    filter: blur(4px);
  }

  &__bloks {
    display: grid;
    grid-template-columns: 39.9% 1fr 22.6%;
    gap: 30px;
    align-items: end;
    padding: 65px 0 69px;
    border-bottom: 1px solid #e8e8e8;

    @include breakpoint(lg) {
      grid-template-columns: 1.4fr 1fr;
    }
    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }
  }

  &__end {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 0.875rem $montserrat-font;
    color: #333333;
  }

  &__author {
    color: #f38181;
  }
}
