.service {
    margin-top: 109px;
    margin-bottom: 120px;

    &__paragraph {
        margin: 41px 0 0;
        padding: 0 123px;
        font: 15px/1.6 $roboto-font;
        text-align: center;
        color: #999999;
    }

    &__tiles {
        margin-top: 88px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__img {
        display: block;
    }
}
