.blogs {
    display: grid;
    justify-items: center;

    &__heading {
        margin-top: 108px;
    }

    &__tiles {
        margin: 47px 0 112px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }

    &__blog {
        &:hover {
            .blogs__date {
                background-color: #f38181;
            }
        }
    }

    &__link {
        text-decoration: none;
    }

    &__photo {
        position: relative;
    }

    &__image {
        display: block;
    }

    &__date {
        position: absolute;
        bottom: 10px;
        left: -10px;
        width: 60px;
        height: 70px;
        background-color: #95e1d3;
        color: white;
        display: grid;
        justify-items: center;
        align-content: center;
    }

    &__day {
        font: bold 30px/1 Montserrat, sans-serif;
    }

    &__month {
        font: italic 300 15px/1.2 Roboto, sans-serif;
    }

    &__heading-4 {
        margin: 17px 0 0;
        font: 600 14px/1.2 Montserrat, sans-serif;
        color: #333333;
        text-transform: uppercase;
    }

    &__paragraph {
        margin: 11px 0 0;
        font: 15px/1.6 Roboto, sans-serif;
        color: #999999;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 16px;
    }

    &__metrics {
        margin-top: 14px;
        display: flex;
        align-items: center;
        gap: 19px;
        font: italic 300 15px/1.6 Roboto, sans-serif;
        color: #999999;
    }

    &__views {
        display: flex;
        align-items: center;
    }

    &__posts {
        display: flex;
        align-items: center;
    }

    &__views-icon {
        display: block;
        margin-right: 5px;
    }

    &__posts-icon {
        display: block;
        margin-right: 5px;
    }
}
