.main-slider {
    background: #f38181 url('../img/background-mogo-banner.png') center;
    background-size: cover;

    &__wrapper {
        padding-top: 162px;
        overflow: hidden;
    }

    &__content {
        display: inline-flex;

        &-forward {
            transform: translate(0);

            &--next {
                transition: transform ease 1s;
                transform: translate(-50%);
            }
        }

        &-backward {
            transform: translate(-50%);

            &--prev {
                transition: transform ease 1s;
                transform: translate(0);
            }
        }
    }

    &__slides {
        display: none;
    }

    &__slide {
        margin: 0 auto;
        width: 1200px;

        @include breakpoint(xl) {
            width: 970px;
        }
        @include breakpoint(lg) {
            width: 750px;
        }
    }

    &__inner {
        padding: 0 100px;
    }

    &__header {
        font: 72px/1.2 $kaushanScript-font;
        color: white;
        text-align: center;

        @include breakpoint(xl) {
            font-size: calc(72px / 1.2);
        }
        @include breakpoint(lg) {
            font-size: calc(72px / 1.6);
        }
    }

    &__info {
        margin-top: 35px;
        font: bold 150px/0.933 $montserrat-font;
        color: white;
        text-align: center;

        @include breakpoint(xl) {
            font-size: calc(150px / 1.2);
        }
        @include breakpoint(lg) {
            font-size: calc(150px / 1.6);
        }
    }

    &__underline {
        margin: 48px auto 0;
    }

    &__more {
        margin: 58px auto 0;
        width: 160px;
        height: 40px;
        border: 3px solid white;
        box-sizing: border-box;
        font: bold 14px/1.2 $montserrat-font;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            border-color: #fce38a;
            cursor: pointer;
        }
    }

    &__paginator {
        margin-top: 157px;
        height: 73px;
        display: flex;
        gap: 27px;
        justify-content: space-between;
    }

    &__item {
        width: 280px;
        cursor: pointer;

        &--active .main-slider__progress {
            opacity: 100%;
        }

        &--active .main-slider__bar {
            transition: transform linear 10s;
            transform: translate(0);
        }

        &--active .main-slider__page {
            opacity: 100%;
        }
    }

    &__progress {
        height: 3px;
        overflow: hidden;
        background-color: white;
        opacity: 50%;
    }

    &__bar {
        height: 100%;
        background-color: #f38181;
        transform: translate(-100%);
    }

    &__page {
        font: 500 18px/1.2 $montserrat-font;
        color: white;
        opacity: 70%;
        height: 100%;

        @include breakpoint(lg) {
            font-size: calc(18px / 1.2);
        }
    }

    &__number {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.2;

        @include breakpoint(lg) {
            font-size: calc(24px / 1.2);
        }
    }
}
