.menu {
    display: flex;

    &__list {
        width: 617px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    &__item {
        position: relative;
        cursor: pointer;

        &:hover {
            .menu__link {
                color: #fce38a;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #fce38a;
            }
        }
    }

    &__link {
        text-decoration: none;
        font: 500 14px/1.2 Montserrat, sans-serif;
        color: white;
        text-transform: uppercase;
    }

    &__img-cart {
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url('../img/menu-shopping-cart.png');

        &:hover {
            background: url('../img/menu-shopping-cart-hover.png');
        }
    }

    &__img-search {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url('../img/menu-magnifying-glass.png');

        &:hover {
            background: url('../img/menu-magnifying-glass-hover.png');
        }
    }
}
