$menuWidth: 617px;
$menuHeight: 29px;

.menu {
    display: flex;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        width: $menuWidth;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        height: $menuHeight;
        cursor: pointer;

        &:hover {
            border-bottom: 3px solid #fce38a;
            box-sizing: border-box;

            & .menu__link {
                color: #fce38a;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        display: block;
        height: 100%;
    }

    &__img-cart {
        display: inline-block;
        width: 18px;
        height: 15px;
        background: url("../img/menu-shopping-cart.png");

        &:hover {
            background: url("../img/menu-shopping-cart-hover.png");
        }
    }

    &__img-search {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("../img/menu-magnifying-glass.png");

        &:hover {
            background: url("../img/menu-magnifying-glass-hover.png");
        }
    }
}
