@import url('https://fonts.googleapis.com/css?family=Kaushan+Script:regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,regular,700');

$montserrat-font: 'Montserrat', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$kaushanScript-font: 'Kaushan Script', cursive;

$hover-gradient: linear-gradient(#f38181, #fce38a);

$p-color: #999999;
$h-color: #333333;

$bg-gray: #f8f8f8;
$bg-turquoise: #95e1d3;

$xl: 1228.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 479.98px;

@mixin breakpoint($point) {
  @if $point == xl {
    @media (max-width: $xl) {
      @content;
    }
  }
  @if $point == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
  @if $point == md {
    @media (max-width: $md) {
      @content;
    }
  }
  @if $point == sm {
    @media (max-width: $sm) {
      @content;
    }
  }
}
