.achievements {
    height: 270px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &__achievement {
        margin-top: 71px;
        border-left: 1px solid rgba($color: white, $alpha: 0.3);

        &:last-child {
            border-right: 1px solid rgba($color: white, $alpha: 0.3);
        }
    }

    &__number {
        font: bold 72px/1.2 Montserrat, sans-serif;
        color: white;
        text-align: center;
    }

    &__description {
        margin-top: 10px;
        font: 500 14px/1.2 Montserrat, sans-serif;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}
