.design {
    display: grid;
    justify-items: center;

    &__heading {
        margin-top: 108px;
    }

    &__images {
        margin-top: 45px;
        margin-right: 54px;
        position: relative;
    }

    &__img-1 {
        display: block;
    }

    &__img-2 {
        display: block;
        position: absolute;
        top: 197px;
        left: 362px;
    }
}
